@import "./base/variables";
@import "./base/lists";
@import "./base/mixin";
@import "./base/maps";
@import "./base/navBar";
@import "./base/footer";
@import "./base/extend";
@import "./componentes/menu";
@import "./componentes/sobreMi";
@import "./componentes/main";



* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

html {
    font-size: 62.5%;
}

.bordcard {border-radius: 10%;}

