<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julieta Harari Pasteleria</title>
    <link rel="stylesheet" href="../styles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600&family=Open+Sans:wght@500;600;700;800&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/fa69e6b850.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../fotos-juli/logochiquito.jpg">
</head>

<body>

    <header class="header">

        <img class="header__logo" src=".././fotos-juli/logojuli.jpeg" alt="Logo de Juli Harari">

        <nav class="headerMenu">
            <ul>

                <li><a href="../index.html">Inicio</a></li>
                <li><a href="">Menu</a>
                </li>
                <li><a href="./sobremi.html">Sobre Mi</a></li>
                <li><a href="">Iniciar Sesión</a></li>
            </ul>
        </nav>

    </header>

    <main>

        <nav class="subNav">
            <ul>

                <li><a href="./menu.html">Boxs</a></li>
                <li><a href="./tortas.html">Tortas</a>
                </li>
                <li><a href="">Macarons</a></li>
                <li><a href="./otros.html">Otros</a></li>
            </ul>
        </nav>

        <section class="cardPadre">

            <div class="card1"><img src=".././fotos-juli/torta.jpeg" alt="Foto card Box"></div>

            <div class="card2"><img src=".././fotos-juli/tortanumerica.jpeg" alt="Foto Card Torta"></div>

            <div class="card3"><img src=".././fotos-juli/keylimepie.jpeg" alt="Foto Card Torta"></div>

            <div class="card4"><img src=".././fotos-juli/chocotorta.jpeg" alt="Foto Card Torta"></div>





        </section>




    </main>

    <footer>
        <h3>Contacto</h3>

        <ul class="misDatos">

            <li>Mail</li>
            <li>Telefono</li>
            <li>Facebook</li>
            <li>Instagram</li>
        </ul>

    </footer>

</body>

</html>