<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Pasteleria Casera, desde tortas a alfajores todo hecho de la mejor calidad y con el mejor sabor">
    <meta property="keywords"
        content="Tortas, Pasteleria, Alfajores, Macarons, Cakepops, Casero, Zona Norte, Box Dulces, Ofertas, Promos, Rico, Delicioso, Mejores">
    <title>Julieta Harari Pasteleria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600&family=Open+Sans:wght@500;600;700;800&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/fa69e6b850.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../fotos-juli/logochiquito.jpg">
</head>

<body>

    <header class="fondoHeader">

        <div class="container-fluid">

            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img class="loguito" src="../fotos-juli/logochiquito.jpg" alt="Logo Julieta">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 colorNav">
                    <li><a href="../index.html" class="nav-link padd">Inicio</a></li>
                    <li><a href="./menu.html" class="nav-link padd">Menu</a></li>
                    <li><a href="./sobremi.html" class="nav-link padd">Sobre Mi</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 buscador" role="search">
                    <input type="search" class="form-control" placeholder=" Buscar Productos" aria-label="Search">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">


                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    </header>

    <main>

        <nav class="subNav">
            <ul>

                <li><a href="./menu.html">Boxs</a></li>
                <li><a href="./tortas.html">Tortas</a>
                </li>
                <li><a href="./macarons.html">Macarons</a></li>
                <li><a href="./otros.html">Otros</a></li>
            </ul>
        </nav>

        <h1 class="titulo">Tortas </h1>

        <section class="cardPadre">

            <section class="mazo">
                <div class="row justify-content-around">
                    <div class="card card1 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardChocotorta.jpg" class="card-img-top bordcard" alt="Chocotorta">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Chocotorta</h5>
                            <p class="text-start cardTexto"> $3600.</p>
                            
                        </div>
                    </div>

                    <div class="card card2 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/card3.jpg" class="card-img-top bordcard" alt="Cheesecake de frutos rojos">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Cheesecake Frutos Rojos</h5>
                            <p class="text-start cardTexto">$3700.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardCheeseP.jpg" class="card-img-top bordcard"   alt="Cheesecake de pistacho">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Cheesecake de Pistacho</h5>
                            <p class="text-start cardTexto">$4000.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardRedV.jpg" class="card-img-top bordcard" alt="Red Velvet">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Red Velvet</h5>
                            <p class="text-start cardTexto">$3600.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardBomba.jpg" class="card-img-top bordcard" alt="Bomba de chocolate">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Intensa de Chocolate</h5>
                            <p class="text-start cardTexto">$3800.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardOreo.jpg" class="card-img-top bordcard" alt="Torta Oreo">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Torta Oreo</h5>
                            <p class="text-start cardTexto">$3800.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardMarquise.jpg" class="card-img-top bordcard" alt="Torta Marquise de chocolate">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Marquise de Chocolate</h5>
                            <p class="text-start cardTexto">$3600.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardChocoHibi.jpg" class="card-img-top bordcard" alt="Torta de chocolate e hibiscus">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Chocolate e Hibiscus</h5>
                            <p class="text-start cardTexto">$3400.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardLemonPie.jpg" class="card-img-top bordcard" alt="Torta Lemon Pie">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Lemon Pie</h5>
                            <p class="text-start cardTexto">$3300.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardPavlova.jpg" class="card-img-top bordcard" alt="Pavlova">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Pavlova</h5>
                            <p class="text-start cardTexto">$3500.</p>

                        </div>
                    </div>

                    <div class="card card3 col-sm-6" style="width: 18rem;">
                        <img src="../fotos-juli/cardTorta.jpg" class="card-img-top bordcard" alt="Tortas Personalizadas">
                        <div class="card-body">
                            <h5 class="card-title cardTitulo">Tortas Personalizadas</h5>
                            <p class="text-start cardTexto">$4000.</p>

                        </div>
                    </div>

                    <div class="card card3" style="width: 18rem;">
                        <img src="../fotos-juli/cardLetter.jpg" class="card-img-top bordcard" alt="Letter Cake">
                        <div class="card-body">
                          <h5 class="card-title cardTitulo">Letter Cake</h5>
                          <p class="text-start cardTexto">$4000.</p>
              
                        </div>
                      </div>
                   
                </div>

            </section>



        </section>




    </main>

    <footer class="pie">

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 pie border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24">
                            <use xlink:href="#bootstrap" />
                        </svg>
                    </a>
                    <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Company, Inc</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted colorIcono" href="#"><i class="fa-brands fa-whatsapp"></i> Telefono: </a></li>
                    <li class="ms-3"><a class="text-muted colorIcono" href="#"><i class="fa-brands fa-instagram"></i>/JuliHarari</a></li>
                </ul>
            </footer>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>

</html>