.loguito {width:10rem;
    height: 8rem;
    margin: 0;
    margin-right: 3rem;
}

.padd {
padding: 0 1.5rem;
color: nth($colors , 2 );
}

.dropdown-item:hover {background-color:nth($colors, 2 );}

.fondoHeader {
background-color: $colorin;
margin: 0;

a {
    font-size: 20px;
    &:hover {color: white}
    
    }
}        

.activeColor {color: #ffffff;} 



.buscador {font-size: 1rem;
font-family: "Open Sans";
width: 35rem
}

.icon {color: nth($colors , 2 );}