main {
    background-color: nth($colors, 1 );
    width: 100%;

    @media screen and (max-width: 768px) {

        .padreColumnas {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr ;
        }
        .mazo {flex-direction: column;} 
        
    }
}

.carouselContainer {
    justify-content: center;
    align-items: center;
    // padding: 7rem 30rem;
        
}


.padreColumnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ; 
    justify-items: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;

    .tamaño {font-size: 1.8rem;}
    
  }      

.columnaUno, .columnaDos, .columnaTres {
    display: inline-block;
    margin: 2rem;
    width: 200px;
    color: #3E4181;
    
     
}


.columnaCenter {
    text-align: center;
   
}

.columnaUno {
    display:map-get($columna, tipo);
    width: map-get($columna , ancho ) ;
    color: map-get($columna , col );

    p{
    display: block;
    font-family: "Open Sans";
    color:nth($colors , 3 );
    font-size: 1.5rem;
    grid-area: columnaUno;
    
}
}

.columnaDos
    {
        display:map-get($columna, tipo);
        width: map-get($columna , ancho ) ;
        color: map-get($columna , col );

        p{

    display: block;
    font-family: "Open Sans";
    color: nth($colors , 3 );
    font-size: 1.5rem;
    grid-area: columnaDos;
            }
}

.columnaTres 

{ display:map-get($columna, tipo);
    width: map-get($columna , ancho ) ;
    color: map-get($columna , col );

p{
    display: block;
    font-family: "Open Sans";
    color: nth($colors , 3 );
    font-size: 1.5rem;
    grid-area: columnaTres;
}}

.destacado {
        text-align: center;
        justify-content: center;
        color:#EA3253;
        font-size: 3rem;
        width: 100%;
        padding: 2rem 0;

}

.mazo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card1, .card2, .card3 {
    border-radius: 1rem;
    align-items: flex-start;
    text-align:start;
    transition: all 400ms ease;
    
    &:hover{
        box-shadow: 5px 5px 10px #EA3253;
        transform:translateY(-3%);}

   
 }


.cardTitulo {font-size: 2rem;
    color: nth($colors , 2 );
    align-items: flex-start;
    text-align:start;
}

.cardTexto {font-size: 1.6rem;
align-items: flex-start;
text-align:start;
color: nth($colors , 2 );
}

.boton1 {
    @extend %disposicion;
    padding: 2rem 0;

}



.verTodos {
    padding: 0.5rem 2rem;
    border-radius: 16px;
    border:#EA3253 solid 1px;
    background-color: #ffffff;
    text-align: center;
    color:nth($colors , 3 );
    font-size: 1.4rem;

    a {
        list-style: none;
        text-decoration: none;
        color: #3E4181;
    }
    
}

.bannerPaleta {
    display: inline-block;
    width: 100%;
    
    img {
        height: auto;
        width: 100%;}
}

.finalText {
    text-align: center;
    color: nth($colors , 3 );
    font-size: 1.7rem;
    // font-weight:500;
    max-width: 90%;
    margin: 2rem;
    font-family: "Open Sans";
}

.sign {
    color: nth($colors , 2 );
    text-align: end;
    font-size: 2.4rem;
    font-weight: bold;
    max-width: 90%;
    margin: 0;
    
}

