.mainMenu {
    min-height: 83.7vh;
}

.mainMacaron {min-height: 84.1vh;}

.subNav {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;

    li {
        display: inline-block;
        margin: 0 2rem;
        padding: 1rem 2rem;
    }

    a {
        text-decoration: none;
        list-style: none;
        color: nth($colors, 3 );
            &:hover {
                text-decoration: underline;
                text-decoration-color:nth($colors, 3 );
                text-underline-offset: 0.5rem;
                text-decoration-style:wavy ;
            }
            
    }

}

 .titulo{
    color: nth($colors , 2);
    padding: 3rem;
    text-decoration: underline;
    text-align: center
}


.cardPadre {
    
    @extend %disposicion;
    flex-flow: row wrap;
    width: 100%;
    
}

.note {
    font-size: large;
    color: nth($colors , 3 );
    max-width: 80%;
    text-align: center;
    margin:  3rem ;
}

.tamañoT {
    text-align: center;
    color: nth($colors , 3);
}

@media screen and (max-width: 768px) {
    .mainMenu {flex-direction: column;}
    .cardPadre {flex-direction: column;}
    .subNav li {
        display: inline-block;
        margin: 0 1rem;
        padding: 1rem 2rem;
}}